@import 'tailwindcss';
@import 'tailwindcss/preflight';
@import 'tailwindcss/utilities';

/* Core utilities we want to include */
@layer utilities {
	@utilities spacing; /* This enables margin, padding, gap utilities */
}

/* @plugin '@tailwindcss/forms'; */
/* @plugin '@tailwindcss/typography'; */
